* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-image: url(img/img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


header {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-style: oblique;
    font-size: xx-large;
     color: white;
    margin-top: 20px;
}

.naipe {
    color: rgb(80, 13, 13);
}

.container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: 90%;
    width: 100%;
    color: #fff;
    gap: 5%;
    margin: 10px;
    
}

.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 98, 255);
    height: 200px;
    width: 70%;
    
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    font-style: oblique;
}


.container2 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(252, 0, 0);
    width: 70%;
    height: 200px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    font-style: oblique;
    margin-right: 250px;
}



.vencedor {
    background-image: linear-gradient(180deg, rgb(193, 193, 185), rgb(241, 232, 232), rgb(220, 220, 231));
    height: 150px;
    opacity: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}

.botoes {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 35%;
    gap: 1rem;
}

.botao {
    height: 30px;
    width: 65%;
    background-image:  linear-gradient(180deg, rgb(11, 7, 7), blue);
    color: #fff;
    border-radius: 20px;
    
}

.botao2 {
    height: 30px;
    width: 65%;
    background-image: linear-gradient(180deg,rgb(11, 7, 7), blue);
    color: #fff;
    border-radius: 20px;
    
}

.botao3 {
    height: 30px;
    width: 65%;
    background-image:  linear-gradient(180deg, rgb(11, 7, 7), blue);
    color: #fff;
    border-radius: 20px;
   
}

@media screen and (min-width:320px) and (max-width:800px) {

    header {
        font-size: medium;
        justify-content: ce;
        width: 90%;
        height: 10%;
        
    }

    .container {
        width: 95%;
        height: 65vh;
        
        display: flex;
        margin-bottom: 0px;
        gap: 2px;
        flex-direction: column-reverse;
        justify-content: space-between;
        
     
    }

    .container1 {
        width: 93%;
        order: 1;
    }

    .container2 {
        width: 93%;
    }

    .botao {
        width: 100%;
        border-radius: 50px;
    }

    .botao2 {
        width: 100%;
        border-radius: 50px;
    }

    .botao3 {
        width: 100%;
        border-radius: 50px;
    }

    .botoes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        width: 100%;
    }
 
}